@using TesteClienteAgenda.UI.Site.Helpers
@model TesteClienteAgenda.Application.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Gerenciar Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<input type="hidden" asp-for="Id" />

<div class="container">
    <hr />
    <dl class="flex-row">
        <dd>
            <label class="control-label" id="cnpj">@Html.DisplayFor(model => model.CnpjFormatado) -</label>
            <label class="control-label">@Html.DisplayFor(model => model.RazaoSocial)</label>
        </dd>
    </dl>
</div>

@{
    if (Model.StatusCliente)
    {
        if (!Model.ExisteAgenda)
        {
            <partial name="_ImportFile" model="@Model" />
        }

        if (Model.ExisteAgenda)
        {
            <div class="container">
                <form asp-action="ManageAgenda" asp-controller="Clientes"
                      asp-route-id="@Model.Id"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-mode="replace"
                      data-ajax-update="#list-agendas">

                    <label class="control-label">Taxa</label>
                    <input id="taxa" name="Taxa">

                    <input type="submit" value="Aplicar" class="btn btn-outline-success" id="btnAplicar" @Html.Raw(this.IfAplicarTaxaShow(@Model.Quarentena)) />
                </form>
            </div>


            <div id="list-agendas">
                <partial name="_ListAgenda" model="@Model" />
            </div>
        }
    }
}